.combinedChart {
    display: flex; /* Use flexbox layout */
    flex-direction: row;
    justify-content: space-between;
}

.piecombiner-data {
    margin-left: 90px;
}

.piecombiner-piechart {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 60px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.789);
}