.combinedChart {
    display: flex; /* Use flexbox layout */
    flex-direction: row;
    justify-content: space-between;
}

.piecombiner-data {
    margin-left: 90px;
}

.piecombiner-piechart-container {
    display: flex;
    flex-direction: column;
    height: 404;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: -15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.789);
}

.piecombiner-piechart-title {
    color: #184a08;
}