.progress-container {
    width: 800px;
    margin-top: 10px;
    border: 3px, solid, rgb(0, 74, 10);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background: #fcfffb;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-bar {
    width: 600px;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    border: 2px solid rgb(0, 47, 6);
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-bar-label {
    display: flex;
    flex-direction: row;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 8px;
    background-color: #20690a;
    transition: width 0.5s ease-out;
    margin-bottom: 10px;
    margin-right: 20px;
}

.progress-label {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.progress-item-label {
    margin-right: 100px;
}

.progress-goal-label {
    margin-right: 100px;
}

.progress-ratio-label {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.progress-input-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.progress-input {
    border-radius: 5px;
    border: solid 1px;
    padding: 6px;
    background: #f4fff2;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-contribute {
    margin-left: 10px;
    border-radius: 5px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f4fff2;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-reset {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f4fff2;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-delete {
    border-radius: 5px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f4fff2;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(98, 113, 96, 0.789);
}

.progress-contribute:hover,
.progress-reset:hover,
.progress-delete:hover {
    background-color: #9eee8e;
}
